/* ---------------------------------------- */
/*  Typography                              */
/* ---------------------------------------- */
:root {
  /* Font Sizes */
  --font-h1-size: 2rem;
  --font-h2-size: 1.8rem;
  --font-h3-size: 1.6rem;
  --font-h4-size: 1.4rem;
  --font-h5-size: 1.2rem;
  --font-h6-size: 1.0rem;
  --body-size: 1rem;

  /* ---------------------------------------- */
  /*  Colors                                  */
  /* ---------------------------------------- */
  --ag-7cog-main: #6910b1;
  --ag-7cog-narrative-border: #3f2153;
  --ag-7cog-quote-box-color: #e4e0ff;
  --ag-7cog-quote-box-border: #4a0b7d;
  --ag-7cog-table-row-even: #fdfdfd;
  --ag-7cog-table-row-odd: #e4e0ff;
}
